<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_TOKEN</key>
	<string>$(APP_TOKEN)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black-multi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--black-multi</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>3</integer>
			</dict>
			<key>black-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--black-white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>2</integer>
			</dict>
			<key>multi-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--multi-black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>4</integer>
			</dict>
			<key>white-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--white-black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>app-icon--default${BUNDLE_ID_SUFFIX}</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black-multi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--black-multi-ipadpro</string>
					<string>app-icon--black-multi-ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>3</integer>
			</dict>
			<key>black-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--black-white-ipadpro</string>
					<string>app-icon--black-white-ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>2</integer>
			</dict>
			<key>multi-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--multi-black-ipadpro</string>
					<string>app-icon--multi-black-ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>4</integer>
			</dict>
			<key>white-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--white-black-ipadpro</string>
					<string>app-icon--white-black-ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>ordinal</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>app-icon--default${BUNDLE_ID_SUFFIX}-ipadpro</string>
				<string>app-icon--default${BUNDLE_ID_SUFFIX}-ipad</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.razeware.emitron</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.razeware.emitron</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SSO_SECRET</key>
	<string>$(SSO_SECRET)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bitter-Bold.ttf</string>
		<string>Bitter-Regular.ttf</string>
		<string>Bitter-Italic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UILaunchStoryboardName</key>
					<string>LaunchScreen</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
