name: Run tests

on:
  pull_request:
    branches: [ development ]

jobs:
  build:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v1
    - name: Switch to Xcode 13.2.1
      run: sudo xcode-select -s /Applications/Xcode_13.2.1.app
    - name: Update fastlane
      run: |
        cd Emitron
        bundle install
        bundle exec fastlane -v
    - name: Generate secrets
      run: scripts/generate_secrets.sh
    - name: Execute fastlane
      env:
        FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 5
        FASTLANE_XCODEBUILD_SETTINGS_RETRIES: 5
      run: |
        cd Emitron
        bundle exec fastlane -v
        bundle exec fastlane tests
